<% @rsvp = Rsvpq.new %>
<% @event = Event.new %>
<%= form_for(@rsvp) do |f| %>
<% if @rsvp.errors.any? %>
  <div id="error_explanation">
    <h2><%= pluralize(@rsvp.errors.count, "error") %> prohibited this rsvp from being saved:</h2>
    <ul>
      <% @rsvp.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
    </ul>
  </div>
<% end %>

<%= f.hidden_field :event_id, :value => @event.id %>
<% if user_signed_in? %>
  <%= f.hidden_field :user_id, :value => current_user.id %>
<% else %>
  <br><%= f.text_field :email, :style => "border: 1px solid grey; border-radius: 0px", placeholder: "Enter email", :class =>"enter_email" %>
 <% end %>
<%= f.submit "RSVP", :style => "color: #fff; padding: 2px 20px; font-weight: normal; border-radius:0px", :id => "RSVPsubmit" %>
<%end%>
